 body {
      font-family: sans-serif;
      text-align: center;
      background-color: black;
    }
    img {
      max-width: 550px;
      width:100%;
      height: auto;
      display:block;
      margin:0 auto;
    }

    .BotonPreRegistro{
        max-width:300px;
        width:100%;
        display:block;
        margin:0 auto;
    }

    @media (max-width: 1024px) {

  img {
      max-width: 100%;
      width:100%;
    }

     .BotonPreRegistro{
        max-width:500px;
        width:100%;
        display:block;
        margin:0 auto;
    }
}